.wordbox {
  display: inline-block;
  position: relative;
  padding: 16px;
  margin: 4px;
  background-color: #8fb935;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
  border-radius: 8px;
  z-index: 1;
  transition: transform 0.2s ease;
}

.wordbox--mistake {
  background-color: #e64747;
  color: white;
  animation: shake 0.3s ease;
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-5px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(5px);
  }
}

.wordbox--success {
  animation: success 0.5s ease;
}

@keyframes success {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}